<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

<insert id="insertMember" parameterType="memVo">
	insert into mymember(mem_id, mem_pass, mem_name, mem_tel, mem_addr)
	values(#{mem_id},#{mem_pass},#{mem_name},#{mem_tel},#{mem_addr})
</insert>

<delete id="deleteMember" parameterType="String">
	delete from mymember where mem_id = #{mem_id}
</delete>

<update id="updateMember" parameterType="memVo">
	update mymember
	set mem_pass=#{mem_pass}, mem_name=#{mem_name}, mem_tel = #{mem_tel}, mem_addr = #{mem_addr}
	where mem_id = #{mem_id}
</update>


<!--
	Map을 파라미터로 받아서 처리할 때의 변수명 역할을 Map의 key값으로 한다.
	
	파라미터로 가져온 값을 컬럼명 등의 자리에서 사용할 경우에는 달러($)기호를 사용해서 나타낸다.
	(예: ${변수명} 또는 ${key값}
-->
<!-- (Key값 정보 ==> 회원ID(memid), 수정할 컬럼명(field), 수정할 데이터(data) -->
<update id="updateMember2" parameterType="Map">
	update mymember set ${field} = #{data} where mem_id=#{memid}
</update>


<select id="getAllMember" resultType="memVo">
	select * from mymember
</select>

<select id="getMemberCount" parameterType="String" resultType="int">
	select count(*) cnt from mymember where mem_id=#{mem_id}
</select>



</mapper>